<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Tax Calculator</title>
    <link rel="stylesheet" href="resources-index.css">
</head>

<body>

    <div id="hero">
        <h1>Resources</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>

    <div class="row">
            
            <div class="cardBorder">
                <img class="pic" src="https://www.personalcapital.com/blog/wp-content/uploads/2019/01/2020-tax-guide-mobile-hero.jpg" alt="adfa"><br><br>
                <div class="link"><%= link_to "The Ultimate Guide To Doing Your Taxes", "https://www.thebalance.com/how-to-file-a-tax-return-4147226", :target => "_blank" %></div>
                <p>If you’ve got a job with a regular paycheck, you’re almost certainly already paying taxes. </p>
            </div>
        </a>
            <div class="cardBorder">
                <img class="pic" src="https://blog.steadyapp.com/wp-content/uploads/2018/12/EOY_Tax_Hacks-03-1200x720.png" alt="adfa "><br><br>
                <div class="link"><%= link_to "How to file taxes: your complete guide", "https://www.policygenius.com/taxes/how-to-file-taxes", :target => "_blank" %></div>
                <p>Knowing the basic terms and forms can make tax season a lot less stressful</p>
            </div>
        </a>
            <div class="cardBorder">
                <img class="pic" src="https://www6.royalbank.com/assets/di-secure/images/article/financial-beat/2019/woman-sitting-head-down-at-desk-hero-928x529.jpg" alt="adfa "><br><br>
                <div class="link"><%= link_to "Five Tips to Cure Project Team Procrastination", "https://blog.mavenlink.com/5-tips-for-dealing-with-project-team-procrastination", :target => "_blank" %></div>
                <p>For teams focused on project-based work, deadlines are imperative. </p>
            </div>
        </a>























        <section class="footer ">
            <div>
                <h3>MADE BY</h3>
                <ul>
                    <li>Titus Dolphus</li>
                    <li>Evan West</li>
                    <li>Andy Darkwah</li>
                    <li>Zach Ader</li>
                </ul>
                <a href="https://www.paypal.me/tdolphus ">Donate</a>
            </div>
        </section>

</body>

</html>

</body>

</html>