
<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    

    <div id="hero2">
        <h1>Federal Tax Estimate Calculator</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
  
<p>
 <h1> Federal Income Tax</h1>
<p>Not sure how much you might owe in tax this year? </p>
<p>Use this tool to estimate how much you might owe in federal income tax. </p>
<p>Learn how to pay your Federal taxes and find out about resources in your area that can help you through the process.</p><br>
  
</p>


  

<a href="/federalforms/new" class="button4"style="background-color:green"><span>Calculate</span></a>





