<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    
<center>
    <div id="hero2">
        <h1>State Tax Estimate Calculator</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
  
<h1>Make Adjustments to your Calculations </h1>

<%= render 'form', stateform: @stateform %>

<%= link_to 'Back', stateforms_path %>
</center>