
<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    

    <div id="hero2">
        <h1>State Tax Estimate Calculator</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
  
<p>
 <h1> State and Local Income Tax</h1>
<p>In addition to the federal government,</p>
<p>43 states and many local municipalities require their </p>
<p>residents to pay a personal income tax. Learn how to pay your </p>
<p>state taxes and find out about resources in your area</p>
<p>that can help you through the process.</p>
  
</p>


  

<li><a href="/stateforms/new" class="button4"style="background-color:green"><span>Find Out How Much You Owe</span></a></li>





