<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>state Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
   

    <div id="hero">
        <h1>State Calculator</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
    <div class="form">
<%= render 'form', stateform: @stateform %>
<li><a href="/stateforms" class="button4"style="background-color:green"><span>Back</span></a></li>


    
    </div>
    <section class="footer ">
        <div>
            <h3>MADE BY</h3>
            <ul>
                <li>Titus Dolphus</li>
                <li>Evan West</li>
                <li>Andrew Darkwah</li>
                <li>Zach Ader</li>
            </ul>
            <a href="https://www.paypal.me/tdolphus">Donate</a>
        </div>
    </section>

</body>

</html>

</body>

</html>
