<h1>Tax-Mate</h1>
<h2>Reclaim your time away from Tax!</h2>
<%= link_to 'Simple Business Calculator', controller: 'articles' %>
<%= link_to 'Advanced Business Calculator', controller: 'articles' %>
<p>Please use our advanced business calculator if you know your business' tax exemptions or exclusions!</p>
